@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);

body{
  font-family: "Source Sans Pro",Helvetica,sans-serif;
  font-weight: 300;
  background-color: #FAFAFA;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 42px;
  font-weight: 300;
}

.text-cyan {
  color: #00BCD4;
}

.text-pink {
  color: #ec407a;
}

.bg-purple {
  background-color: rgba(90,86,160,1);
  color: #fafafa;
}

.text-center {
  text-align: center;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.header{
  display: block;
  height: 460px;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: -2;

  /*
  background: rgba(63,81,181,1);
  background: -moz-linear-gradient(-45deg, rgba(63,81,181,1) 30%, rgba(36,127,194,1) 60%, rgba(0,188,212,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(30%, rgba(63,81,181,1)), color-stop(60%, rgba(36,127,194,1)), color-stop(100%, rgba(0,188,212,1)));
  background: -webkit-linear-gradient(-45deg, rgba(63,81,181,1) 30%, rgba(36,127,194,1) 60%, rgba(0,188,212,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(63,81,181,1) 30%, rgba(36,127,194,1) 60%, rgba(0,188,212,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(63,81,181,1) 30%, rgba(36,127,194,1) 60%, rgba(0,188,212,1) 100%);
  background: linear-gradient(135deg, rgba(63,81,181,1) 30%, rgba(36,127,194,1) 60%, rgba(0,188,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#00bcd4', GradientType=1 );
  */

  background: rgba(63,81,181,1);
  background: -moz-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(63,81,181,1)), color-stop(69%, rgba(82,84,167,1)), color-stop(100%, rgba(90,86,160,1)));
  background: -webkit-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: linear-gradient(135deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#5a56a0', GradientType=1 );


}

.header-headline {
  font-size: 42px;
  position: absolute;
  padding-top: 40px;
  color: white;
  text-align: center;
  width: 100%;
}


.header-image-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 410px;
}

.header-image {
  max-width: 250px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.topnav{
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-weight: 600;
  background-color: rgba(250, 250, 250, 0.1);
  position: absolute;
  width: 100%;
  z-index: 9001;
  /*background-color: #283593;*/
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21); */
}

.topnav > .container {
  padding-left: 0px;
  padding-right: 0px;
}

.topnav-links {
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 0px;
}
.topnav-links > li {
  postion: relative;
  float: left;
  display: block;
  padding: 15px;
}

.topnav-links > li > a {
  color: #fff;
}


.topnav-links > .active {
  /*
  -webkit-box-shadow: inset 0 1px 9px rgba(0, 0, 0, .21);
          box-shadow: inset 0 1px 9px rgba(0, 0, 0, .21);
  */
}

.topnav-links > .active > a {
  color: #00BCD4;
}

.content-container{
  margin-top: -60px;
  font-size: 1.5em;
  color: #63666A;
  background-color: #fff;
  box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.content-container > .row {
  padding: 60px 30px;
}


.footer {
  margin-top: -7px;
  display: block;
  height: 50px;
  line-height: 50px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  /*margin-top: 20px;*/

  background-color: #5354A6;
}


.btn-main {
  color: #fff;
  background-color: #4552B1;
  border-radius: 5px;
  border-width: 0px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-main:hover {
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.32),0 6px 30px 0 rgba(0,0,0,0.24);

}

#particles-js {
  height: 500px;
  position: relative;
  z-index: -2;
  background: rgba(63,81,181,1);
  background: -moz-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(63,81,181,1)), color-stop(69%, rgba(82,84,167,1)), color-stop(100%, rgba(90,86,160,1)));
  background: -webkit-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: linear-gradient(135deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#5a56a0', GradientType=1 );
}
