@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);
@import 'https://fonts.googleapis.com/css?family=Montserrat';

body{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  background-color: #E2E0EF;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  /*
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  */
}

.uppercase {
  text-transform: uppercase;
}

.text-cyan {
  color: #00BCD4;
}

.text-teal {
  color: #4FB8B4;
}

.text-pink {
  color: #ec407a;
}

.text-indigo {
  color: #4670B3;
}

.text-blue {
  color: #5FA1FF;
}

.bg-teal {
  background-color: #4FB8B4;
  color: #fafafa;
}

.text-center {
  text-align: center;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.header{
  height: 460px;
  color: #fff;
  padding-top: 80px;
  text-align: center;
  position: relative;
  z-index: -1;

  /*
  background: rgba(63,81,181,1);
  background: -moz-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(63,81,181,1)), color-stop(69%, rgba(82,84,167,1)), color-stop(100%, rgba(90,86,160,1)));
  background: -webkit-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  background: linear-gradient(135deg, rgba(63,81,181,1) 0%, rgba(82,84,167,1) 69%, rgba(90,86,160,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#5a56a0', GradientType=1 );
  */
  /*
  background: #4252B2;
  background: -moz-linear-gradient(-45deg, #4252B2 0%, #4FB8B4 100%);
  background: -webkit-linear-gradient(-45deg, #4252B2 0%,#4FB8B4 100%);
  background: linear-gradient(135deg, #4252B2 0%,#4FB8B4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4252B2', endColorstr='#4FB8B4',GradientType=1 );
  */

  background: linear-gradient(135deg, #33295F /*#281F4C*/ 0%, #5254A7 69%, #5E54AF 100%);

  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.header-headline {
  font-size: 42px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-subtitle {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #AFD0FF;
}

.header-image-wrapper {
  text-align: center;
  height: 410px;
}

.header-image {
  max-width: 225px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.topnav{
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(250, 250, 250, 0.1);
  position:  absolute;
  z-index: 0;
  width: 100%;
  /*background-color: #283593;*/
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21); */
}

.topnav > .container {
  padding-left: 0px;
  padding-right: 0px;
}

.topnav-links {
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.topnav-links > li {
  float: left;
  display: block;
  padding: 15px 10px;
}

.topnav-links > li > a {
  color: #fff;
}


.topnav-links > .active {
  /*
  -webkit-box-shadow: inset 0 1px 9px rgba(0, 0, 0, .21);
          box-shadow: inset 0 1px 9px rgba(0, 0, 0, .21);
  */
}

.topnav-links > .active > a {
  color: #80B3FF;
  font-weight: 600;
}

.content-container{
  margin-top: -60px;
  font-size: 1.5em;
  color: #63666A;
  background-color: #fff;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  border-radius: 2px;
  padding-bottom: 60px;
}

.content-container > .row {
  padding: 60px 30px;
}


.footer {
  margin-top: -7px;
  display: block;
  height: 120px;
  line-height: 120px;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /*margin-top: 20px;*/

  /*
  background: #4252B2;
  background: -moz-linear-gradient(left, #4252B2 0%, #4FB8B4 100%);
  background: -webkit-linear-gradient(left, #4252B2 0%,#4FB8B4 100%);
  background: linear-gradient(to right, #4252B2 0%,#4FB8B4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4252B2', endColorstr='#4FB8B4',GradientType=1 );

  background: #4252B2;
  background: -moz-linear-gradient(-45deg,  #2B75D4 0%, #5A39A9 100%);
  background: -webkit-linear-gradient(-45deg,  #2B75D4 0%,#5A39A9 100%);
  background: linear-gradient(135deg,  #2B75D4 0%, #5A39A9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #2B75D4', endColorstr='#5A39A9',GradientType=1 );
  */
  background: linear-gradient(89deg, #33295F /*#281F4C*/ 0%, #5254A7 69%, #5E54AF 100%);

}


.btn-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff;
  background-color: #5F54AF;
  border-radius: 50px;
  border-width: 0px;
  padding: 15px 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-main:hover {
  background-color: #7267CF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.card {
  /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12); */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  border-radius: 2px;
  /* margin: 5px; */
  margin-bottom: 14px;
  font-size: 16px;
}

.card-title{
  font-size: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 10px;
  background-color: #5F54AF;
  border-radius: 2px 2px 0px 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
